@use "./utils/colors" as *;

body {
  font-family: "Roboto", sans-serif;
  color: var($colorMain);
  background: var ($backgroundColor);
}

@import "./utils/reset";
@import "./utils/container";
@import "./utils/section";
@import "./utils/link";
@import "./utils/ul";
@import "./utils/hide";
@import "./utils/foto";
@import "./utils/h3-title";
@import "./utils/h2-heading";
@import "./utils/is-hidden";

@import "./components/header";
@import "./components/navigation";
@import "./components/order";
@import "./components/features";
@import "./components/offer";
@import "./components/our-team";
@import "./components/socials-icon";
@import "./components/our-clients";
@import "./components/footer";
@import "./components/logo";
@import "./components/newsletter";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/policy";
@import "./components/filters";
@import "./components/projects";
