.footer {
  background-color: var($colorFooter);
  padding-top: 60px;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: var($backgroundColor);
    padding-bottom: 20px;

    &--margin {
      margin-right: 93px;
    }
  }

  &__address {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: var($backgroundColor);
    letter-spacing: 0.03em;
  }

  &.footer__address > ul {
    padding: 0;
    margin: 0;
  }

  &__link {
    color: var($colorLessITex);
  }

  &__socials {
    justify-content: flex-start;
    margin-left: 70px;
    width: 206px;

    &--wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  }

  &__socials-icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var($backgroundColord);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus,
    &:hover {
      fill: var($backgroundColor);
      background-color: var($colorAccent);
    }
  }

  &__title {
    margin-block: 20px;
    display: flex;
  }
}
