.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: var($colorAccent);
  letter-spacing: 0.03em;

  &:visited {
    color: var($colorAccent);
  }
}
