.modal {
  width: 528px;
  height: 581px;
  background-color: var($backgroundColor);
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var($backgroundColor);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  & __button-send {
    background: var($colorAccent);
    border-radius: 4px;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var($backgroundColor);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 30px;
    margin-inline: 164px;
    margin-bottom: 40px;
    padding: 10px 76px 10px 76px;
    border-color: var($colorAccent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var($colorMain);
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var($colorLessITex);
    margin-top: 10px;
    margin-bottom: 4px;
    position: absolute;
    top: -68%;
    left: 8%;
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 10%;
  }

  &__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &:focus {
      outline-color: var($colorAccent);
      padding-left: 42px;
      color: var($colorMain);
    }
  }

  &__span {
    top: -24%;
    left: 0%;
  }

  &__textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    width: 416px;
    height: 96px;
    border: none;
    margin: 12px 16px 12px 16px;
    resize: none;

    &:focus-within {
      outline: none;
      color: var($colorOutline);
      border-color: var($colorAccent);
    }
  }
}

.modal__label {
  margin-bottom: 28px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--textarea {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-inline: auto;

    &:focus-within {
      fill: var($colorAccent);
      outline: none;
      color: var($colorOutline);
      border-color: var($colorAccent);
    }
  }
}
