.menu-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
  }

  &__logo {
    color: var($colorMain);
    margin-right: 93px;
  }
}

.menu-nav__links {
  display: flex;
  align-items: center;
  padding: 0;
  flex-grow: 0;

  &--primary {
    gap: 46px;
    flex-grow: 3;
    justify-content: flex-start;
  }

  &--secondary {
    gap: 50px;
    flex-grow: 0;
    justify-content: flex-end;
  }
}

.menu-nav__link {
  color: var($colorMain);
}

.menu-nav__link--envelope,
.menu-nav__link--smartphone {
  fill: var($colorLessITex);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var($colorLessITex);

  &::before {
    fill: var($colorLessITex);
    content: "";
  }

  &:focus,
  &:hover {
    stroke: var($colorAccent);
  }
}

.menu-nav--underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var($colorAccent);
    bottom: -28px;
    left: 0;
  }
}
