.link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:visited {
    color: var($colorLessITex);
  }

  &:hover,
  &:focus {
    color: var($colorAccent);
  }
}
